pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.11.113
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.11.113.deb
	source_x86_64 = openwork-0.11.113.deb::https://github.com/different-ai/openwork/releases/download/v0.11.113/openwork-desktop-linux-amd64.deb
	sha256sums_x86_64 = bc6995980b5608a641a810b5ee063c3ad6067f6bfe12c30052cbfde0aa07e303
	source_aarch64 = openwork-0.11.113.deb::https://github.com/different-ai/openwork/releases/download/v0.11.113/openwork-desktop-linux-arm64.deb
	sha256sums_aarch64 = c598b5aca0095252fb008b717f6c0e7c984e2f8e37ef263b00c45b2f21697b42

pkgname = openwork
