pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.11.94
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.11.94.deb
	source_x86_64 = openwork-0.11.94.deb::https://github.com/different-ai/openwork/releases/download/v0.11.94/openwork-desktop-linux-amd64.deb
	sha256sums_x86_64 = 8cc5ac6940f8bfe0bd2e0495d1e91272cc39e402b93c0bc2e45ca02857f670f4
	source_aarch64 = openwork-0.11.94.deb::https://github.com/different-ai/openwork/releases/download/v0.11.94/openwork-desktop-linux-arm64.deb
	sha256sums_aarch64 = f861ab256e695e2d6a2f63216a051992c7b8a154002cd1304a5592eff0732db2

pkgname = openwork
