pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.11.20
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.11.20.deb
	source = openwork-0.11.20.deb::https://github.com/different-ai/openwork/releases/download/v0.11.20/openwork-desktop-linux-amd64.deb
	sha256sums = 0ae3c71aed098e834d34b3fa508101a9997a8c405a650cb7a13de7e31a1a95cc

pkgname = openwork
